.about_back_img {
  margin-bottom: 50px;
  background-image: url("../../assets/images/about_img.png");
  background-position: 50%;
  /* background: #f6f6f6; */
}
.about_strategy_img_h{
    background-image: url('../../assets//images/about_strategy.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_col12_h {
  position: relative;
}

.animated_line_about_h .lineOne_h::before {
  position: absolute;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  background: #ff2c57;
  transition: 0.5s;
}

.animated_line_about_h .lineTwo_h::before {
  content: "";
  position: absolute;
  left: -8px;
  width: 4px;
  height: 50%;
  background-color: #ff2c57;
  transition: 0.4s;
}

.about_col12_h:hover .animated_line_about_h .lineOne_h::before {
  height: 50%;
}

.about_col12_h:hover .animated_line_about_h .lineTwo_h::before {
  height: 100%;
}

.about_para_h h1 {
  font-weight: 300;
}

.about_para_h h1 span {
  color: #ff2c57;
  font-weight: 600;
}

.about_para_h p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #666;
  width: 60%;
}
.about_col12_h {
  display: flex;
  gap: 10px;
}
.lineOne_h {
  margin: 0px;
}
.lineTwo_h {
  margin: 0px;
}
.about_body_h {
  display: flex;
  justify-content: start;
  align-items: center;
}
.about_video_h {
  margin-left: 50px;
}
.about_container_h .about_body_h {
  margin: 60px 0px;
}
.about_video_h .about_marketing {
  width: 100%;
}
.about_description_h .marketing_branding_h h4 {
  font-size: 25px;
  font-weight: 200;
}
.about_description_h .marketing_branding_h h4 span {
  color: #ff2c57;
  font-weight: 600;
}
.about_description_h .marketing_branding_h p {
  color: #666;
  font-weight: 300;
  line-height: 1.8;
  font-size: 20px;
}
.about_video_h {
  position: relative;
}
.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.tick_mark_h {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
.check_para {
  font-size: 20px;
  font-weight: 300;
  color: #666;
}
/* .tick_sectionOne_h p .tick_mark_icon {
  width: 12%;
}
.tick_sectionTwo_h p .tick_mark_icon {
  width: 8%;
} */
.readmore_btn_h {
  margin: 20px 0px;
}
.readmore_btn_h button {
  font-size: 18px;
  font-weight: 500;
  background-color: #ff2c57;
  color: white;
  border: 1px solid #ff2c57;
  padding: 10px 30px;
  border-radius: 30px;
}
.readmore_btn_h button:hover {
  border: 1px solid #ff2c57;
  background-color: #fff;
  color: #ff2c57;
  transition: 0.4s;
}

.about_strategy_container_fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.about_strategy_img_h .about_strategy{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.about_strategy_desc_h{
    margin-left: 40px;
    padding: 100px;
}
.strategy_desc_div_h h4{
    color: #ff2c57;
    font-size: 18px;
    font-weight: 400;
}
.strategy_desc_check_h{
    padding: 20px 0px;
}
.strategy_desc_div_h h1{
    font-weight: 300;
}
.strategy_desc_div_h h1 span{
    color: #ff2c57;
    font-weight: 600;
}
.strategy_desc_div_h p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: #666;    
}
.strategy_desc_check_h .check_para{
    color: #666;
    font-weight: 400;
    font-size: 16px;
}
/* .check_para .strategy_desc_icon{
    width: 3%;
} */
.about_strategy_btn button{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    background-color: #ff2c57;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #ff2c57;
}
.about_strategy_btn button:hover{
    background-color: white;
    color: #ff2c57;
    border-color: #ff2c57;
    transition: 0.4s all ;
}
@media screen and (250px <= width <= 354px) {
  .about_row_h {
    padding: 0px 10px;
  }
  .about_para_h p {
    width: 100%;
  }
  .about_body_h .about_video_h {
    margin-left: 0px;
  }
  .tick_mark_h {
    gap: 10px;
  }
  .tick_mark_h .tick_sectionOne_h {
    width: 70%;
  }
  .tick_mark_h .tick_sectionTwo_h {
    width: 70%;
  }
  /* .tick_sectionOne_h p .tick_mark_icon {
    width:12%;
  }
  .tick_sectionTwo_h p .tick_mark_icon {
    width: 12%;
  }
  .check_para .strategy_desc_icon{
    width: 6%;
} */
  .check_para{
    font-size: 16px;
  }
  .readmore_btn_h{
    margin: 10px 0px;
  } 
  .readmore_btn_h button {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 30px;
}
.about_strategy_img_h{
    display: none;
}
.about_strategy_desc_h{
    padding: 0px;
}
.about_strategy_desc_h{
    margin-left: 0px;
}
.strategy_desc_div_h{
    padding-left: 10px;
}
.strategy_desc_div_h p{
    font-size: 16px;
}
}
@media screen and (355px <= width <= 480px) {
  .about_row_h {
    padding: 0px 10px;
  }
  .about_para_h p {
    width: 100%;
  }
  .about_body_h .about_video_h {
    margin-left: 0px;
  }
  .tick_mark_h {
    gap: 10px;
  }
  .tick_mark_h .tick_sectionOne_h {
    width: 70%;
  }
  .tick_mark_h .tick_sectionTwo_h {
    width: 70%;
  }
  /* .tick_sectionOne_h p .tick_mark_icon {
    width: 10%;
  }
  .tick_sectionTwo_h p .tick_mark_icon {
    width: 10%;
  } */
  .check_para{
    font-size: 16px;
  }
  .readmore_btn_h{
    margin: 10px 0px;
  } 
  .readmore_btn_h button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 30px;
}
.about_strategy_img_h{
    display: none;
}
.about_strategy_desc_h{
    padding: 0px;
}
.about_strategy_desc_h{
    margin-left: 0px;
}
.strategy_desc_div_h{
    padding-left: 10px;
}
.strategy_desc_div_h p{
    font-size: 16px;
}
}
@media screen and (481px <= width <= 767px){
    .about_body_h .about_video_h {
        margin-left: 0px;
      }
      .about_strategy_desc_h{
        padding: 0px;
      }
} 
@media screen and (768px <= width <= 1023px){
    .about_body_h .about_video_h {
        margin-left: 0px;
      }
} 
@media screen and (1024px <= width <= 1279px){
    .about_body_h .about_video_h {
        margin-left: 0px;
      }
      /* .tick_sectionOne_h p .tick_mark_icon {
        width:17%;
      }
      .tick_sectionTwo_h p .tick_mark_icon {
        width: 12%;
      }
      .check_para .strategy_desc_icon{
        width: 6%;
    }    */
} 
