.navbar{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    /* background: transparent!important; */
    /* color: white; */
    background-color: #fff !important;   
    
}
/* .navbar::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .77;
} */
/* .navbar::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .77;
} */
/* .navbar::after{
background-color: white;
} */
.nav-link:hover {
    color: #ff2c57 !important;
}

.navbar-nav .active {
    color: #ff2c57 !important;
}

.navbar_main_h {
    background-color: transparent;
    /* color: white; */
}

.navbar-collapse .navbar_ul_h {
    margin-left: auto;
    padding: 10px;
}

.navbar_ul_h .nav-item {
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
}

.navbar_logo_h {
    font-size: 25px;
    font-weight: 700;
}

.navbar_logo_h .navbar_logo_text_h {
    color: #ff2c57;
    text-transform: lowercase;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;  
}

.navbar_logo_h .logo_div_h {
    padding-bottom: 15px;
}

@media screen and (250px <=width <=354px) {
    .navbar_ul_h .nav-item {
        padding-left: 0px;
    }

    .navbar-collapse .navbar_ul_h {
        /* background-color: aliceblue; */
    }
}

@media screen and (355px <=width <=480px) {
    .navbar_ul_h .nav-item {
        padding-left: 0px;
    }

    .navbar-collapse .navbar_ul_h {
        /* background-color: aliceblue; */
    }
}

@media screen and (481px <=width <=767px) {
    .navbar_ul_h .nav-item {
        padding-left: 0px;
    }

    .navbar-collapse .navbar_ul_h {
        background-color: aliceblue;
    }
}

@media screen and (768px <=width <=1023px) {
    .navbar_ul_h .nav-item {
        padding-left: 0px;
    }

    .navbar-collapse .navbar_ul_h {
        /* background-color: aliceblue; */
    }
}

@media screen and (1024px <=width <=1279px) {}

@media screen and (1280px <=width <=1365px) {}

@media screen and (1366px <=width <=1440px) {}

@media screen and (1441px <=width <=1560px) {}

@media screen and (1561px <=width <=1650px) {}