.whoweare_main_div {
  position: relative;
  margin: 50px 0px;
  display: flex;
  gap: 10px;
}
.who_lines_div_h .who_lineOne_h::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #ff2c57;
  transition: 0.4s;
}
.who_lines_div_h .who_lineTwo_h::before {
  content: "";
  position: absolute;
  left: -8px;
  width: 4px;
  height: 50%;
  background-color: #ff2c57;
  transition: 0.4s;
}
.whoweare_main_div:hover .who_lineOne_h::before{
height: 50%;
}
.whoweare_main_div:hover .who_lineTwo_h::before{
height: 100%;
}
.who_line_para_h h1 {
  font-weight: 300;
}
.who_line_para_h h1 span {
  color: #ff2c57;
  font-weight: 600;
}
.who_line_para_h p {
  width: 60%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #666;
}
.who_card_div_h .who_card{
    padding: 20px;
}

@media screen and (250px <= width <= 354px){
    .who_line_para_h p{
        width: 100%;
    }
    
}
@media screen and (355px <= width <= 480px){
    .who_line_para_h p{
        width: 100%;
    }
    
}
@media screen and (481px <= width <= 767px){
    .who_line_para_h p{
        width: 100%;
    }
    
}
@media screen and (768px <= width <= 1023px){
    .who_line_para_h p{
        width: 100%;
    }
    
}
@media screen and (1024px <= width <= 1279px){
    .who_line_para_h p{
        width: 100%;
    }
    
}
@media screen and (1280px <= width <= 1365px){
    .who_line_para_h p{
        width: 100%;
    }
    
}