.footer_main_h .footer_div_h{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 0px;
    gap: 10px;
}
.footer_logo_h .logo_text_h{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 35px;
}
.footer_div_h .footer_logo_h .color_logo_h{
    color: #ff2c57;
    text-transform: lowercase;
    font-size: 45px;
}
.footer_icons_h .footer_logo_h:hover{
background-color: #ff2c57;
border: 1px solid #ff2c57;
transition: 0.3s ease-out;
}
.footer_icons_h .footer_logo_h{
    border: 1px solid white;
    border-radius: 50%;
   
}
.footer_icons_h .facebook_logo_h{
    /* background-color: white; */
    color: white;
    margin: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* border-radius: 50%;
    padding: 1px; */
}
.footer_div_h .footer_icons_h{
display: flex;
gap: 10px;
padding-top: 20px;
padding-bottom: 20px;
}

.footer_copyright_h .copyright_h{
    color: white;
    font-size: 18px;
}